/* custom CSS rules */

/* display none for layout but be careful of license restrictions */
.mapbox-logo,
.leaflet-control-attribution {
  display: none;

}

.legend-large,
.legend-small {
  border-radius: 50%;
}

#headtitle,
#headsubtitle {
  color: #d96d02;
}



/* fix the display order with z-index */
#info {
  z-index: 1000;
  display: none;
}

.infoWindow {
  margin: 0 0 8px 0;
}

.infoWindow,#legend {
  display: block !important;
  background: rgba(0, 0, 0,.85) !important;
  box-shadow: 0px 0px 5px 0.5px rgb(83, 83, 83) !important;
  color:whitesmoke !important;
}
#slider
{
  background: rgba(0, 0, 0,.85);
  box-shadow: 0px 0px 5px 0.5px rgb(83, 83, 83) !important;

}
#sliderVal
{
color: whitesmoke;
}

.list-parties li
{
  color:black;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  /* width: 100px; */
}

.bg-back
{
background-color: black;
}
.location-list li
{
  background: #1E1E1E;
  color: whitesmoke;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  font-weight: bold;
}




@media (max-width:576px) {
  #legend-container {
    display: none;
  }

  #gb-icon {
    display: block;
    float: right;
    /* border: 1px solid green; */
    padding: 5px 0px;
    margin: -6px -10px;
  }

 
}
